@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: BebasNeue;
    src: url(fonts/BebasNeue-Regular.ttf);
}
#webname{
    color: yellow;
    font-family: BebasNeue;
    font-size: xx-large; 
    text-decoration: solid;
}
body{
    background-image: url(pexels-bri-schneiter-346529.jpg);
    margin: 0px;
}

#head1name{
    color: white;
    font-family: roboto;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
#firstname{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 12px;
    font-size: large;
    font-family: roboto;
    
}
#firstname{
    width: 300px;
    border-radius: 12px;
    padding: 5px;
}
#head2name{
    color: white;
    font-family: roboto;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#lastname{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 12px;
    font-size: large;
    font-family: roboto;
}
#lastname{
    width: 250px;
    border-radius: 12px;
    padding: 5px;
}
@keyframes mySlide{
    from{margin-left: 100%;
    opacity: 0%;}
    to{margin-right: 0%;
    opacity: 100%;}
}
#signup{
    
    text-align: center;
    font-size: large;
    font-family: roboto;
    color: white;
    animation: mySlide;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-play-state: running;
}
#email{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 150%;
    font-family: roboto;
}
#boxemail{
    font-size: large;
    font-family: roboto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
#email1{
    border-radius: 12px;
    padding: 6px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
}
#passwordhead{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: roboto;
    font-size: 150%;
    color: white;
}
#boxpassword{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
    
}
#password{
    border-radius: 12px;
    padding: 5px;
    width: 250px;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
#button{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 16px;
    padding: 5px;
    width: 250px;
    font-size: larger;
    background-color: yellow;
    border-color: yellow;
    animation: button;
    animation-iteration-count: 1;
    animation-duration: 3s;    
}
@keyframes button {
    from{opacity: 0%;}
    to {opacity: 100%;}

}